.App {
  text-align: justify;
}

.titleText {
  text-align: center;
}

.userSelect {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.output {
  margin-top:3%;
  background-color: #c9b3bd;
  padding: 2% 3%;
  border-radius: 1%;
  font-family: "Neucha";
  font-weight: normal;
}

label {
  font-family: "Neucha";
  font-weight: normal;
}

.titleText img {
  width: 1em;
}
